<tr>
    <td>ID</td>
    <td>Name</td>
    <td>@Email</td>
    <td>Gender</td>
    <td>Status</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>